<launch>

   <arg name="use_bci_device" default="False" />  

   <param name="use_hardware" value="True" />
   
  <node name="graspit_ros" pkg="graspit" type="graspit_simulator" args=" -p libgraspit_bci_plugin" output="screen" >
    <env name="GRASPIT" value="$(find graspit)/graspit_source"/>
    <env name="CGDB_MODEL_ROOT" value="$(find graspit)/graspit_source/cgdb"/>
    <env name="GRASPIT_PLUGIN_DIR" value="$(find graspit_bci_plugin)/../../devel/lib"/>
    <env name="SPRITES_DIR" value="$(find graspit_bci_plugin)/sprites/"/>
    <env name="LOG_DIR" value="$(find graspit_bci_plugin)/logs/"/>
  </node>

  <group if="$(arg use_bci_device)">
  	 <node name="bci_device" pkg="graspit_threshold_controller" type="run.sh"/>
  </group>
  
</launch>
